
:root{
    --primary-color:#001f2b;
    --secondary-color:#009bd6;
    --third-color:rgba(23, 117, 117, 0.459);;
    --fourth-color:#C4C4C4;
    --fifth-color:#47972f;
    --blue-jeans: #5DADE2;
    --my-red: #c90e0e;
    --my-yellow: rgb(255, 217, 0);
    --my-green:#40df10;
    --my-opac:

}

body {
    font-family: Verdana, sans-serif;
    font-style: normal; 
    font-variant: normal; 
    font-size: 16px;
    overflow: hidden;
    width: 100vw;
    height:100vh;    
    max-width: 100%;
    background-color:var(--primary-color);
    text-align:center;
    overflow: auto;
}



body::after {
    content: url('../img/background_2.png');
    display: none;
}

h1{
    color:white;
    font-size:3.5rem;
    text-align:center;
    max-width:100%;
    word-wrap: break-word;
    overflow-wrap: break-word;

}

h2, h3{
    color:white;
    text-align:center;
    max-width:100%;
    word-wrap: break-word;
    overflow-wrap: break-word;
}
p{
    max-width:100%;
    color:white;
    word-wrap: break-word;
    overflow-wrap: break-word;
}



/*-----------------------LOADING PAGE --------------------*/

#loader {
    border: 12px solid #f3f3f3;
    border-radius: 50%;
    border-top: 12px solid var(--secondary-color);
    width: 70px;
    height: 70px;
    animation: spin 1s linear infinite;
}

.center {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

/*-----------------------NAVIGATION BAR SECTION --------------------*/


.navbar{
    background-color: var(--primary-color);

}
.nav-icon{
    margin-top:8px;
    margin-right:8px;
}

a {
    text-decoration: none;
}

.link-icon{
    width:auto;
    height:20px;
    margin:10px;
}


#link-icon{
    width:auto;
    height:1.5rem ;
    margin-left:10px;   
}

.icon-white{
    color:white;
}

/*----------------------- LEFT ICON SECTION ------------------------*/


.icon-section{
    border-top-right-radius:15px;
    background-color: var(--secondary-color);
    padding:4vh;
    position:fixed;
    left:0;
    z-index:999;
}


.empty-section{
    border-top-left-radius:15px;
    background-color: var(--secondary-color); 
    position:fixed;
    right:0;
    height:100vh;
    display: block;
}


.face img { 
    height: 26vh; 
    width: auto; 
    display:block;
}

.nav-button{
    margin-top:10vh;
    margin-bottom:20vh;

}

.nav-button:last-child{
    margin-bottom:0;
}



@media (min-width: 576px){
    .icon{
        position:absolute;
        height: 12vh; 
        width: 12vh;
        border-radius: 50%;
        top:50%;
        left:50%;
        transform: translate(-50%, -50%);
        transition: transform 0.1s ease;
        opacity: 80%;
        transition: opacity 0.1 s;
    }

    .icon:hover{
        opacity:100%;
        transform: translate(-50%, -50%) scale(1.1)
    }

    .in-section:not(#face){
        opacity:100%;
        transform: translate(-50%, -50%) scale(1.1);
    }
    
    .in-section#face{
        filter: contrast(130%);
    }
    
    .filter-130{
        filter: contrast(130%);
    }
    
}

@media (max-width:576px){
    .icon{
        position:absolute;
        height: 8vh; 
        width: 8vh;
        border-radius: 50%;
        top:50%;
        left:50%;
        transform: translate(-50%, -50%);
        transition: transform 0.1s ease-in;
        opacity: 80%;
        transition: opacity 0.1 s;

    }

    .icon:hover{
        opacity:100%;
        transform: translate (-50%, -50%) scale(1.05);
    }

    .in-section:not(#face){
        opacity:100%;
        transform:translate (-50%, -50%) scale(1.05);
    }

}
#red, #red-m{
    background:linear-gradient(to right bottom, #f05757, var(--my-red));
}

#green, #green-m{
    background:linear-gradient(to right bottom, #b1f37a,var(--my-green));
}

#yellow, #yellow-m{
    background:linear-gradient(to right bottom, rgb(247, 247, 134),var(--my-yellow));
}

.thumbnail {  
    z-index:999; 
    cursor: pointer; 
    -webkit-transition-property: all; 
    -webkit-transition-duration: 0.1s; 
    -webkit-transition-timing-function: ease;
}
    
    /*change the number below to scale to the appropriate size*/ 
.thumbnail:hover { 
    transform: scale(1.05); 
}



/*----------------------- MOBILE NAVBAR SECTION --------------------*/

.mobile-navbar{
    height: 10vh;
    z-index: 9999;
    pointer-events: none;
    width:100%;
    background-color:var(--primary-color);
    margin:0;
    border-top-left-radius:4px;
    border-top-right-radius:4px;
}


/*----------------------- CONTENT SECTION ------------------------*/

.sale-block{
    margin-top:5vh;
    background-color:#c4c4c4e1;
    border-radius:8px;
    padding:8vh;
    transition: background-color 0.3s ease;
    transition: box-shadow 0.3s ease;
    transition: transform 0.1s ease;
    backface-visibility: hidden; /* Ensure crispness during transition */
    transform-style: preserve-3d
}

.sale-block:hover{
    background-color:var(--fourth-color);
    box-shadow: 2px 2px 4px #001118;
    transform: scale(1.005);
    
}

.sale-block p{
    color:var(--primary-color);

}
.sale-section{
    border-radius:4px;

}
.section{
    min-height:100vh;
}

.mt-auto{
    margin-top:auto;
}
.content-section{
    padding-top:10vh;
    background-color:var(--primary-color);
}

.portofolio-item{
    border-top:var(--my-yellow) 2px dashed;
    border-bottom: var(--my-yellow) 2px dashed;
    padding:20px;
}


.portofolio-item:last-child{
    border-bottom:none;
}

.portofolio-item.first{
    border-top:none;
    margin-top:10px;
}



.portofolio-item p{ 
    font-weight:bold;  
    margin-top:0;
}

.site-desc{
    display:none;
    width:100%;
    border-radius:4px;
    background-color:rgba(23, 117, 117, 0.459);
}

.site-desc p{
    font-weight:400;
}


.slide-btn, .slide-cv{
    background-color: transparent;
    border: none;
    color:white;
    font-weight:bold;
}

.slide-btn{
    float: right;
}

.slide-btn:focus, .slide-cv:focus, .navbar-toggle:focus{
    outline:none;
}


.page-description{
    color:white;
    padding-top:20px;
}

.desc-content{
    text-align:justify;
}

input, textarea{
    max-width:100%;
    box-sizing:border-box;
    opacity:50%;
    resize:none;
    border:none;
    border-radius:4px;
    margin-top:10px;
    margin-bottom:10px;
}

form{
    margin-right:10px;
    margin-top:1rem;
}

.form-control{
    background-color:#f8f7f794;
    color:white;
}

.btn{
    background-color:#f8f7f794;
    color:#4e4e4e;
    border:none;
}

.btn:hover{
    background-color:var(--fifth-color);
    color:white;
}

.cv{
    display:none;
    width:100%;
    border-radius:4px;
    padding:20px;
    overflow:hidden;

}




#landing-btn{
    border-radius:4px;
    background-color:var(--third-color);
    color:var(--primary-color);
    font-size:larger;
    
    transition: transform 0.05s ease-in-out;
}

#landing-btn:hover{
    color:white;
    background-color:var(--fifth-color);
    transform: scale(1.05);
    cursor:pointer;
}


/*.webp .background { background-image: url('../img/background_1.webp'); }
.old .background  { background-image: url('../img/background_1.jpeg'); }*/