

body {
    font-family: Verdana, sans-serif;
    font-style: normal; 
    font-variant: normal; 
    font-weight: 700; 
    font-size: 16px;
    overflow-x: hidden;

    overflow: hidden;
    width: 100vw;
    height:100vh;    
    background-image: url('../img/background_1.png'); 
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align:center;
    overflow: auto;
}

body::after {
    content: url('../img/background_2.png');
    display: none;
}

h1{
    margin-top:10px;
    color:#fff;
    font-weight:700;
    font-size:3.5rem;
    text-align:left;

}

p{
    color:#fff;
}
/*-----------------------NAVIGATION BAR SECTION --------------------*/


.nav-icon{
    margin-top:8px;
    margin-right:8px;
}

a {
    text-decoration: none;
}

.link-icon{
    width:auto;
    height:20px;
    margin:10px;
}


#link-icon{
    width:auto;
    height:1.5rem ;
    margin-left:10px;   
}

.icon-white{
    color:white;
}

/*----------------------- LEFT ICON SECTION ------------------------*/

@media (max-width: 768px) {
    .icon-section {
      height: 100vh; /* Set height to match the viewport height */
      position: fixed;
      top: 0;
      left: -1000px; /* Initial position outside the viewport */
      background-color: #1689b6c4; /* Set your desired background color */
      overflow-y: auto; /* Enable vertical scrolling if needed */
      transition: right 0.3s ease; /* Apply smooth transition for sliding effect */
      z-index: 1000; /* Set a higher z-index to ensure it's above other content */
      padding:5vh;
    }

    .icon-section.visible{
        left:0px;
    }
}

.navbar-toggle{
    background-color:transparent;
    border:none;
}



.face img { 
    width: 28vh; 
    height: 28vh; 
    display:block;
    height: auto;
    display:block;
}

.nav-button{
    margin-top:10vh;
    margin-bottom:20vh;
}

.nav-button:last-child{
    margin-bottom:0;
}


.icon{
    position:absolute;
    height: 13vh; 
    width: 13vh;
    border-radius: 50%;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    transition: transform 0.1s ease;
    opacity: 90%;
    transition: opacity 0.1 s;
}
.red{
    background:linear-gradient(to right bottom, #f05757, #c90e0e);
}

.green{
    background:linear-gradient(to right bottom, #b1f37a,#40df10);
}

.yellow{
 
    background:linear-gradient(to right bottom, rgb(247, 247, 134),rgb(255, 217, 0));
}

.side-desc{
    display:inline-block;
    overflow:hidden;
    width:0;
    transition: width 0.2s;
    white-space: pre;
    color:#fff;
    font-weight:bold;
    font-size:small;
    position:absolute;  
    left:0;
}

.icon:hover{
    opacity:100%;
    transform: translate(-50%, -50%) scale(1.05)

}

.side-desc.hovered{
    width:100px;
}


.thumbnail {  
    z-index:999; 
    cursor: pointer; 
    -webkit-transition-property: all; 
    -webkit-transition-duration: 0.1s; 
    -webkit-transition-timing-function: ease;
}
    
    /*change the number below to scale to the appropriate size*/ 
.thumbnail:hover { 
    transform: scale(1.05); 
}

/*----------------------- CONTENT SECTION ------------------------*/


.content-section{
    margin-top:12vh;
}

.portofolio-item{
    border-top:rgb(255, 217, 0) 2px dashed;
    border-bottom:rgb(255, 217, 0) 2px dashed;
    padding:20px;
}

.portofolio-item:first-child{
    border:none;
    border:red;
    margin-top:10px;
}


.portofolio-item:last-child{
    border-bottom:none;
}

.portofolio-item p{ 
    font-weight:bold;  
    margin-top:0;
}

.site-desc{
    display:none;
    width:100%;
    border-radius:4px;
    background-color:rgba(23, 117, 117, 0.459);
}

.site-desc p{
    font-weight:400;
}


.slide-btn, .slide-cv{
    background-color: transparent;
    border: none;
    color:#fff;
    font-weight:bold;
}

.slide-btn{
    float: right;
}

.slide-btn:focus, .slide-cv:focus, .navbar-toggle:focus{
    outline:none;
}


.page-description{
    color:#fff;
    padding-top:20px;
}

.desc-content{
    text-align:justify;
}

input, textarea{
    max-width:100%;
    box-sizing:border-box;
    opacity:50%;
    resize:none;
    border:none;
    border-radius:4px;
    margin-top:10px;
    margin-bottom:10px;
}

form{
    margin-right:10px;
    margin-top:1rem;
}

.form-control{
    background-color:#f8f7f794;
    color:#fff;
}

.btn{
    background-color:#f8f7f794;
    color:currentColor;
    border:none;
}

.btn:hover{
    background-color:#f8f7f7;
    color:#1689b6;
}

.cv{
    display:none;
    width:100%;
    border-radius:4px;
    padding:20px;
    overflow:hidden;

}




/*------------------- CONTROL PANEL -------------------------*/

.control-panel{
    border:1px solid;
    border-radius:20px;
}




/*.webp .background { background-image: url('../img/background_1.webp'); }
.old .background  { background-image: url('../img/background_1.jpeg'); }*/