{% extends "base.html" %}
	
	{% block title %}About me{% endblock %}
	
	{% block content %}

		<div class="row title">
			<div class="col-12">
				<h1>About me</h1>
			</div>
		</div>	
			<div class="row page-description">
				<div class="col d-flex justify-content-start">
					 <p class="desc-content">I am a young developer, searching for new challenges. After getting a
					 master's degree in Applied Mathematics, I am now learning web development.
					 I am passionate about sciences and programming but I am also an art lover.
					 Designing websites allow me to fulfill all my interests.
				</br>
					I am looking forward to work on various projects. I can make your website from scratch,
					redesign it or just integrate an existing development team to bring my contribution to a bigger
					project. </p>

				</div>
			</div>
			<div class="row page-description">
				<div class="col d-flex justify-content-start">
						<button class="slide-cv">See my curriculum</button>
				</div>
			</div>
			<div class="cv">

				<div class="d-flex flex-column">
					<div class="col d-flex justify-content-start">
						<p><b>2019</b> : Mathematics Bachelor's degree</p>
					</div>
					<div class="col d-flex justify-content-start">
						<p><b>2020</b> : Computer Sciences Bachelor's degree</p>
					</div>
					<div class="col d-flex justify-content-start">
						<p><b>2023</b> : R&D Internship at AIRBUS</p>
					</div>
					<div class="col d-flex justify-content-start">
						<p><b>2023</b> : Applied Mathematics Master's degree (Sorbonne Université)</p>
					</div>
				</div>
			</div>


	{% endblock %}