<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Responsive Bootstrap4 Shop Template, Created by Imran Hossain from https://imransdesign.com/">

	<!-- title -->
	<title>{% block title %}{% endblock %} </title>


	<!-- fontawesome !-->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"> 
	<!-- favicon -->
	<link rel="shortcut icon" type="image/png" href="{{url_for('static', filename='img/favicon.png')}}">
	<!-- google font -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
	<!-- bootstrap -->
	<link rel="stylesheet" href="{{url_for('static', filename='bootstrap/css/bootstrap.min.css')}}">
    <!-- main -->
	<link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
	<!-- font -->
	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Varela+Round" />
</head>
<body>
					
	<div class="container-fluid">

		<div class="row" >
			<div class="col-12">
				<nav role="navigation">
					<div class="d-flex flex-row">
						<div class="mr-auto nav-icon">
							<button class="navbar-toggle"><i class="d-md-none fas fa-bars icon-white fa-2x"></i></button>						
						</div>
						<div class="nav-icon d-none d-md-block">
							<a href="https://github.com/tommidanni" target="_blank"><img class="link-icon" src="{{url_for('static', filename='img/git.png')}}"></a>
						</div>
						<div class="nav-icon d-none d-md-block">
							<a href="http://www.linkedin.com/in/tdaniel-webdev" target="_blank"><img class="link-icon" src="{{url_for('static', filename='img/linkedin.png')}}"></a>
						</div>
					</div>
				</nav>
			</div>
		</div>
									
		<div class="row">
			<div class="col-md-3 icon-section" role="navigation" >
				<div class="row	home-button justify-content-center align-items-center">
					<div class="col-12" >
						<div class="face thumbnail d-flex align-items-center justify-content-center"  role="navigation">
							<a href="{{url_for('index')}}" id="my-face" class="stretched-link"><img src="{{url_for('static', filename='img/face.png')}}"></a>			
						</div>
					</div>
				</div>
				<div class="row nav-button">
					<div class="col-2 offset-5" >
						<div class="icon red" >
							<a href="{{url_for('portofolio')}}" class="stretched-link"></a>
						</div>
					</div>
					<div class="col offset-1 d-flex align-items-center">
						<span class="side-desc">Portofolio</span>
					</div>
				</div>
				<div class="row nav-button">
					<div class="col-2 offset-5" >
						<div class="icon yellow">
							<a href="{{url_for('about')}}" class="stretched-link"></a>
						</div>
					</div>
					<div class="col offset-1 d-flex align-items-center">
						<span class="side-desc">About me</span>
					</div>
				</div>
				<div class="row nav-button">
					<div class="col-2 offset-5" >
						<div class="icon green">
							<a href="{{url_for('contact')}}" class="stretched-link"></a>
						</div>
					</div>
					<div class="col offset-1 d-flex align-items-center justify-content-start">
						<span class="side-desc">Contact</span>
					</div>
				</div>	
			</div>
			<div class="col-12 col-md-7 content-section">
				{% block content %}
				{% endblock %}
			</div>

			</div>
		</div>

		<!-- jquery js -->
		<script src="{{url_for('static', filename='js/jquery-3.7.11.js')}}"></script>	
		<!-- main js-->
		<script src="{{url_for('static', filename='js/main.js')}}"></script>	
		<!-- image js -->
		<script src="{{url_for('static', filename='js/image.js')}}"></script>	
		<!--face animation js-->
		<script src="{{url_for('static', filename='js/face.js')}}"></script>	
		<!-- contact js-->
		<script src="{{url_for('static', filename='js/contact.js')}}"></script>	
		
	</body>

	</html>