{% extends "base.html" %}
	{% block title %}Home{% endblock %}
	{% block content %}

			<div class="row title">
				<div class="col-12">
					<h1>Welcome !</h1>
				</div>
				
			</div>

			<div class="row page-description ">
				<div class="col-12">
					<h2>I am Thomas Daniel, web developer full-stack.</h2>
				</div>
				<div class="col-11 d-flex justify-content-start text-left">
					<p>Make your buisness visible online and get a website accessible from all devices with clean design.					Browse this website to know more about me and my work !</p>
				</div>
				
				</div>
			</div>
			<div class="row">
				<div class="col-md-3">
					
				</div>
				<div class="col-md-8">
				</div>
			</div>
		
	{% endblock %}