{% extends "base.html" %}

{% block title %}Portofolio{% endblock %}

	{% block content %}

			<div class="row title">
				<div class="col-12">
					<h1>Portofolio</h1>
				</div>
			</div>
			<div class="row page-description">
				<div class="col d-flex justify-content-start">
					<p class="d-inline desc-content">All the source code is available on my GitHub page :</p><a href="https://github.com/tommidanni" target="_blank" class="d-inline"><img id="link-icon" src="{{url_for('static', filename='img/git.png')}}"></a>
				</div>
			</div>
			<div class="portofolio-item">
				<div class="row">
					<div class="col-6">
						<p>E-commerce application</p>
					</div>
					<div class="col">
						<p>See it !</p>
					</div>
					<div class="col">
						<button class="slide-btn">+</button>
					</div>
				</div>
				<div class="row">
					<div class="col-11 site-desc">
					<p class="desc-content"><i>Standard e-commerce application with <b>cart system</b>, <b>payment system with e-mail confirmation</b>  and <b>account management system</b>.
							Front end based on a <b>Bootstrap</b> template. 
							<b>AJAX</b> filter system and cart system for better performances. 
							Product list managable by the owner through a database linked to the front-end.</i>
							<b>This project contains all the basics functionnalities of an e-commerce application and can be adapted to any online buisness.</b>
							
						</p>
					</div>
				</div>
			</div>
			
			<div class="portofolio-item">
				<div class="row">
					<div class="col-6">
						<p>Landing page</p>
					</div>
					<div class="col">
						<p>See it !</p>
					</div>
					<div class="col">
						<button class="slide-btn">+</button>
					</div>
				</div>
				<div class="row">
					<div class="col-11 site-desc">
						<p class="desc-content"><i>Landing page to get the e-mail of prospects. Owner can access the e-mail list
							through a database. Easy-to-use, instinctive design for potential clients.</i>
							<b>Essential tool for every buisness looking for customers.</b> 
						</p>
					</div>
				</div>	
			</div>

			<div class="portofolio-item">

				<div class="row">
					<div class="col-6">
						<p>This site</p>
					</div>
					<div class="col">
						<p>See it !</p>
					</div>
					<div class="col">
						<button class="slide-btn">+</button>
					</div>
				</div>

				<div class="row">
					<div class="col-11 site-desc">
						<p class="desc-content">Website speaks for itself...</p>
					</div>
				</div>

	{% endblock %}